.side-bar

  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        = current_user.name
      %ul.side-header__box__menu
        %li
          = link_to new_group_path(current_user) do
            = icon('far','edit',class: 'icon2')
        %li
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')


  .side-groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) , class: "group" do
        %p.group__group-name
          = group.name
        %p.group__group-message
          = group.show_last_message
